Thank You For The Purchase!<br/>

Your Order Has Been Processed.<br/>

A Detailed Info Has Been Sent To Your E-Mail.<br/>
<div>
<button style="color:white;">
<a href="/gallery/index" style="text-decoration: none; color:black;">continue shopping</a>
</button>
</div>